.S1seccion-001-p2{
    /* background-color: #48c289; */
    width: 100%;
    height: auto;

    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    color: #fff;

}
.container-p2{
    /* background-color: #c95beb; */
    max-width: 2200px;
    height: auto;
    margin: auto;

    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.row-p2 {
    /* padding: 100px 50px; */
    width: 140rem;
    height: auto;
    /* background-color: #a1aa1e; */
    /* border-top: 10px solid #fff;
    border-left: 10px solid #fff; */

    margin: 0 auto ;
    /* justify-content: center; */
    /* display: flex; */
    padding: 2rem;
    box-shadow: inset 0rem 0rem 2rem 0.5rem #b5b5b5;
}





/* primer grupo */

@media (max-width: 2470px) {
    .container-p2{
        max-width: 2070px;
    }
}
@media (max-width: 2370px) {
    .container-p2{
        max-width: 1970px;
    }
}
@media (max-width: 2270px) {
    .container-p2{
        max-width: 1870px;
    }
}
@media (max-width: 2170px) {
    .container-p2{
        max-width: 1770px;
    }
}
@media (max-width: 2070px) {
    .container-p2{
        max-width: 1670px;
    }
}
@media (max-width: 1970px) {
    .container-p2{
        max-width: 1570px;
    }
}






/* segundo grupo */

@media (max-width: 1870px) {
    .container-p2{
        max-width: 1570px;
    }
}
@media (max-width: 1770px) {
    .container-p2{
        max-width: 1470px;
    }
}
@media (max-width: 1670px) {
    .container-p2{
        max-width: 1370px;
    }
}
@media (max-width: 1570px) {
    .container-p2{
        max-width: 1370px;
    }
}
@media (max-width: 1470px) {
    .container-p2{
        max-width: 1270px;
    }
}
@media (max-width: 1370px) {
    .container-p2{
        max-width: 1170px;
    }
}






/* tercer grupo */

@media (max-width: 1270px) {
    .container-p2{
        max-width: 1170px;
    }
}
@media (max-width: 1170px) {
    .container-p2{
        max-width: 1070px;
    }
}
@media (max-width: 1070px) {
    .container-p2{
        max-width: 970px;
    }
}
@media (max-width: 970px) {
    .container-p2{
        max-width: 970px;
    }
}
@media (max-width: 870px) {
    .container-p2{
        max-width: 870px;
    }
    .row-p2 {
        width: 100%;
    }
}
@media (max-width: 770px) {
    .container-p2{
        max-width: 770px;
    }
}






/* cuarto grupo */

@media (max-width: 670px) {
    .container-p2{
        max-width: 670px;
    }
}
@media (max-width: 570px) {
    .container-p2{
        max-width: 570px;
    }
}
@media (max-width: 470px) {
    .container-p2{
        max-width: 470px;
    }
}
@media (max-width: 370px) {
    .container-p2{
        max-width: 370px;
    }
    .row-p2 {
        width: 100%;
    }
}
@media (max-width: 270px) {
    .container-p2{
        max-width: 270px;
    }
}
@media (max-width: 170px) {
    .container-p2{
        max-width: 170px;
    }
}






/* quinto grupo */

@media (max-width: 150px) {
    .container-p2{
        max-width: 150px;
    }
}
@media (max-width: 130px) {
    .container-p2{
        max-width: 130px;
    }
}
@media (max-width: 110px) {
    .container-p2{
        max-width: 110px;
    }
}
@media (max-width: 100px) {
    .container-p2{
        max-width: 100px;
    }
}
@media (max-width: 90px) {
    .container-p2{
        max-width: 90px;
    }
}
@media (max-width: 80px) {
    .container-p2{
        max-width: 80px;
    }
}






/* sexto grupo */

@media (max-width: 70px) {
    .container-p2{
        max-width: 70px;
    }
}
@media (max-width: 60px) {
    .container-p2{
        max-width: 60px;
    }
}
@media (max-width: 50px) {
    .container-p2{
        max-width: 50px;
    }
}
@media (max-width: 40px) {
    .container-p2{
        max-width: 40px;
    }
}
@media (max-width: 30px) {
    .container-p2{
        max-width: 30px;
    }
}
@media (max-width: 20px) {
    .container-p2{
        max-width: 20px;
    }
}