.S1seccion-0052{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}
.container0052{
    width: 100%;
    height: auto;
    /* background-color: #e48a40; */
    max-width: 2200px;

    display: flex;
    color: #009292;
    padding: 0 2rem 3rem;
    margin: auto;
}
.a001-0052{
    width: 60rem;
    height: auto;
    /* background-color: #bf87ec; */

    display: flex;
}
.a001-0052 span{
    font-size: 4rem;
    font-weight: 700;
    padding: .1rem 0;
    text-align: center;
    margin: 0 auto;
}
.a002-0052{
    height: auto;
    width: 100%;
    /* background-color: #505050; */

    display: flex;
    flex-wrap: wrap;
}
.a002-0052 li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;

    /* background-color: #c23a3a; */
    /* border-radius: 1rem; */
    border-bottom: .5rem solid #c4c4c4;

    margin: auto 15rem auto 0;
    /* padding: 0.1rem 2rem; */

    cursor: pointer;
}
.a002-0052 li:hover{
    border-bottom: .5rem solid #00f7ff;
}
.a002-0052p1p2p3{
    border-bottom: .5rem solid #00f7ff !important;
}
.a002-0052 li div{
    padding: 0.2rem 2rem;
    /* background-color: #c23a3a; */
    border-radius: 2rem;
    /* border: .5rem solid #e58e8e; */
    color: #005564;
    font-size: 3.5rem;
    font-weight: 700;
}





/* primer grupo */

@media (max-width: 2470px) {
    .container0052{
        max-width: 2070px;
    }
}
@media (max-width: 2370px) {
    .container0052{
        max-width: 1970px;
    }
}
@media (max-width: 2270px) {
    .container0052{
        max-width: 1870px;
    }
}
@media (max-width: 2170px) {
    .container0052{
        max-width: 1770px;
    }
}
@media (max-width: 2070px) {
    .container0052{
        max-width: 1670px;
    }
}
@media (max-width: 1970px) {
    .container0052{
        max-width: 1570px;
    }
}






/* segundo grupo */

@media (max-width: 1870px) {
    .container0052{
        max-width: 1570px;
    }
}
@media (max-width: 1770px) {
    .container0052{
        max-width: 1470px;
    }
}
@media (max-width: 1670px) {
    .container0052{
        max-width: 1370px;
    }
}
@media (max-width: 1570px) {
    .container0052{
        max-width: 1370px;
    }
}
@media (max-width: 1470px) {
    .container0052{
        max-width: 1270px;
    }
}
@media (max-width: 1370px) {
    .container0052{
        max-width: 1170px;
    }
}






/* tercer grupo */

@media (max-width: 1270px) {

    .container0052{
        max-width: 1170px;
    }
}
@media (max-width: 1170px) {

    .container0052{
        max-width: 1070px;
    }
}
@media (max-width: 1070px) {

    .container0052{
        max-width: 970px;
    }
    .a002-008 img{
        width: 70%;
        height: auto;
        margin: auto;
    }
}
@media (max-width: 970px) {

    .container0052{
        max-width: 970px;
    }
}
@media (max-width: 870px) {

    .container0052{
        max-width: 870px;
    }
}
@media (max-width: 770px) {

    .container0052{
        max-width: 770px;
    }
    .a002-0052 li {
        margin: 0.5rem auto;
        padding: 0 2rem;
    }
}






/* cuarto grupo */

@media (max-width: 670px) {
    .container0052{
        max-width: 670px;
    }
}
@media (max-width: 570px) {
    .container0052{
        max-width: 570px;
    }
}
@media (max-width: 470px) {
    .container0052{
        max-width: 470px;
    }
    .a001-006{
        width: 50%;
    }
    .a002-0052 li{
        margin: auto auto 1rem auto;
    }

}
@media (max-width: 370px) {
    .container0052{
        max-width: 370px;
    }
}
@media (max-width: 270px) {
    .container0052{
        max-width: 270px;
    }
    .a001-006{
        width: 100%;
    }
}
@media (max-width: 170px) {
    .container0052{
        max-width: 170px;
    }
}






/* quinto grupo */

@media (max-width: 150px) {
    .container0052{
        max-width: 150px;
    }
}
@media (max-width: 130px) {.container0052{
        max-width: 130px;
    }
}
@media (max-width: 110px) {
    .container0052{
        max-width: 110px;
    }
}
@media (max-width: 100px) {
    .container0052{
        max-width: 100px;
    }
}
@media (max-width: 90px) {
    .container0052{
        max-width: 90px;
    }
}
@media (max-width: 80px) {
    .container0052{
        max-width: 80px;
    }
}






/* sexto grupo */

@media (max-width: 70px) {
    .container0052{
        max-width: 70px;
    }
}
@media (max-width: 60px) {
    .container0052{
        max-width: 60px;
    }
}
@media (max-width: 50px) {
    .container0052{
        max-width: 50px;
    }
}
@media (max-width: 40px) {
    .container0052{
        max-width: 40px;
    }
}
@media (max-width: 30px) {
    .container0052{
        max-width: 30px;
    }
}
@media (max-width: 20px) {
    .container0052{
        max-width: 20px;
    }
}