.S1seccion-011{
    width: 100%;
    height: auto;
    /* background-color: #6a44d1; */
}
.S1seccion-011parIgual-1{
    /* background-color: #73ff6e; */
    text-align: center;
}
.S1seccion-011parIgual-2{
    /* text-align: center; */
    /* font-size: 2rem; */
}
.container011{
    /* background-color: #b341e0; */
    max-width: 2200px;
    height: auto;
    margin: 0 auto;

    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.a001-011{
    /* background-color: #6f5a77; */
    margin: 0 auto;
}
.a001-011 a{
    color: #00b4b4;
}
.a001-011 span{
    font-size: 4rem;
    font-weight: 700;
    margin: 0 auto;
}


/* edicion la parte de la pelicula transformers */
.t1{
    width: 100%;
    height: auto;
    /* background-color: #41e0b8; */
}
.t1 iframe{
    box-shadow: 0rem 0rem 2rem 1rem #ff0000;
}
.t1-1{
    width: 150rem;
    height: 75rem;
    /* background-color: #96e041; */
    margin: 0 auto 2rem;
    position: relative;
}
.t1-1 iframe{
    position: absolute;
}
.t1-2{
    width: 32rem;
    height: 64rem;
    /* background-color: #4441e0; */
    margin: 0 auto 3rem;
}
.a001-011parrafo1xbet{
    font-size: 2.5rem;
    font-size: 400;
}
.hoverservidores:hover{
    color: #52ffff;
}
.a001-011titulo1xbet{
    text-align: center;
    display: block;
    margin: 0 auto;
}
/* la que tapa la opcion ir a drive */
.t1-11{
    position: absolute;
    background-color: #db41e000;
    width: 100%;
    height: 9rem;
}
.t1-111{
    background-color: #c0879d00;
    width: 9rem;
    height: 100%;
    margin: 0 0 0 auto;
}
.t1-11ab{
    position: absolute;
    background-color: #41e06300;
    width: 15rem;
    height: 9rem;
    bottom: 0;
    right: 0;
}
.t1-111ab{
    background-color: #53328000;
    width: 9rem;
    height: 100%;
    margin: 0 0 0 auto;
}
.a001-011p1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    display: block;
    margin: 0 auto;

}
.a001-011p2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    display: block;
    margin: 0 auto;
}
.a001-011p2:hover{
    color: #52ffff;
}




/* primer grupo */

@media (max-width: 2470px) {
    .container011{
        max-width: 2070px;
    }
}
@media (max-width: 2370px) {
    .container011{
        max-width: 1970px;
    }
}
@media (max-width: 2270px) {
    .container011{
        max-width: 1870px;
    }
}
@media (max-width: 2170px) {
    .container011{
        max-width: 1770px;
    }
}
@media (max-width: 2070px) {
    .container011{
        max-width: 1670px;
    }
}
@media (max-width: 1970px) {
    .container011{
        max-width: 1570px;
    }
}






/* segundo grupo */

@media (max-width: 1870px) {
    .container011{
        max-width: 1570px;
    }
}
@media (max-width: 1770px) {
    .container011{
        max-width: 1470px;
    }
}
@media (max-width: 1670px) {
    .container011{
        max-width: 1370px;
    }
}
@media (max-width: 1570px) {
    .container011{
        max-width: 1370px;
    }
}
@media (max-width: 1470px) {
    .container011{
        max-width: 1270px;
    }
}
@media (max-width: 1370px) {
    .container011{
        max-width: 1170px;
    }
}






/* tercer grupo */

@media (max-width: 1270px) {
    .container011{
        max-width: 1170px;
    }
    .t1-11{
        position: absolute;
        background-color: #db41e000;
        width: 100%;
        height: 15rem;
    }
    .t1-111{
        background-color: #53102a00;
        width: 15rem;
        height: 100%;
        margin: 0 0 0 auto;
    }
}
@media (max-width: 1170px) {
    .container011{
        max-width: 1070px;
    }
    .t1-1{
        width: 140rem;
        height: 70rem;
    }
}
@media (max-width: 1070px) {
    .container011{
        max-width: 970px;
    }
    .t1-1{
        width: 130rem;
        height: 65rem;
    }
}
@media (max-width: 970px) {
    .container011{
        max-width: 970px;
    }
    .t1-1{
        width: 120rem;
        height: 60rem;
    }
}
@media (max-width: 870px) {
    .container011{
        max-width: 870px;
    }
    .a001-010{
        width: 50%;
    }
    .t1-1{
        width: 110rem;
        height: 55rem;
    }
}
@media (max-width: 770px) {
    .container011{
        max-width: 770px;
    }
    .t1-11{
        height: 10rem;
    }
    .t1-11ab {
        width: 15rem;
        height: 5rem;
    }
    .t1-111{
        background-color: #e0417e00;
        width: 15rem;
        height: 100%;
        margin: 0 0 0 auto;
    }
    .t1-1{
        width: 100rem;
        height: 50rem;
    }
}






/* cuarto grupo */

@media (max-width: 670px) {
    .container011{
        max-width: 670px;
    }
    .t1-1{
        width: 80rem;
        height: 40rem;
    }
}
@media (max-width: 570px) {
    .container011{
        max-width: 570px;
    }
    .t1-1{
        width: 70rem;
        height: 35rem;
    }
    .t1-11{
        height: 5rem;
    }
    .t1-11ab {
        width: 10rem;
        height: 5rem;
    }
}
@media (max-width: 500px) {
    .container011{
        max-width: 570px;
    }
}
@media (max-width: 470px) {
    .container011{
        max-width: 470px;
    }
    .t1-1{
        width: 60rem;
        height: 30rem;
    }

}
@media (max-width: 370px) {
    .container011{
        max-width: 370px;
    }
    .t1-1{
        width: 100%;
        height: 25rem;
    }
}
@media (max-width: 290px) {
    .container011{
        max-width: 370px;
    }
}
@media (max-width: 270px) {
    .container011{
        max-width: 270px;
    }
}
@media (max-width: 220px) {
    .container011{
        max-width: 270px;
    }
}
@media (max-width: 200px) {
    .container011{
        max-width: 370px;
    }
    .t1-2 {
        width: 100%;
        height: 64rem;
        /* background-color: #4441e0; */
        margin: 0 auto 3rem;
    }
}
@media (max-width: 170px) {
    .container011{
        max-width: 170px;
    }
}






/* quinto grupo */

@media (max-width: 150px) {
    .container011{
        max-width: 150px;
    }
}
@media (max-width: 130px) {
    .container011{
        max-width: 130px;
    }
}
@media (max-width: 110px) {
    .container011{
        max-width: 110px;
    }
}
@media (max-width: 100px) {
    .container011{
        max-width: 100px;
    }
}
@media (max-width: 90px) {
    .container011{
        max-width: 90px;
    }
}
@media (max-width: 80px) {
    .container011{
        max-width: 80px;
    }
}






/* sexto grupo */

@media (max-width: 70px) {
    .container011{
        max-width: 70px;
    }
}
@media (max-width: 60px) {
    .container011{
        max-width: 60px;
    }
}
@media (max-width: 50px) {
    .container011{
        max-width: 50px;
    }
}
@media (max-width: 40px) {
    .container011{
        max-width: 40px;
    }
}
@media (max-width: 30px) {
    .container011{
        max-width: 30px;
    }
}
@media (max-width: 20px) {
    .container011{
        max-width: 20px;
    }
}
