.S1seccion-013{
    width: 100%;
    height: auto;
    background-color: #2d214d;
    margin-bottom: 0;
}
.container013{
    /* background-color: #b341e0; */
    max-width: 2200px;
    height: auto;
    margin: 0 auto;

    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.a001-013{
    width: 50%;
    height: auto;
    /* background-color: #44b5d1; */
    padding: 2rem;

    display: flex;
    justify-content: flex;
    align-items: center;
}
.a001-013-01{
    display: inline-block;
    /* background-color: #abd144; */
    margin: auto 0 auto auto;

    padding: 0 2rem 0 0;
}
.a001-013-01 a{
    color: #2d214d;
}
.a001-013-01 i{
    font-size: 7rem;
    background-color: #12a1da;
    border-radius: 1rem;
    padding: .5rem;
}
.a001-013-02{
    display: inline-block;
    /* background-color: #a444d1; */
    margin: auto auto auto 0;

    padding: 0 0 0 2rem;
}
.a001-013-02 a{
    color: #2d214d;
}
.a001-013-02 i{
    font-size: 7rem;
    background-color: #16b61e;
    border-radius: 1rem;
    padding: .5rem;
}
.a002-013{
    width: 50%;
    height: auto;
    /* background-color: #54d144; */
    padding: 2rem;
}
.a002-013 span{
    font-size: 2.5rem;
    font-weight: 400;
    color: #ffffff;
}








/* primer grupo */

@media (max-width: 2470px) {
    .container013{
        max-width: 2070px;
    }
}
@media (max-width: 2370px) {
    .container013{
        max-width: 1970px;
    }
}
@media (max-width: 2270px) {
    .container013{
        max-width: 1870px;
    }
}
@media (max-width: 2170px) {
    .container013{
        max-width: 1770px;
    }
}
@media (max-width: 2070px) {
    .container013{
        max-width: 1670px;
    }
}
@media (max-width: 1970px) {
    .container013{
        max-width: 1570px;
    }
}






/* segundo grupo */

@media (max-width: 1870px) {
    .container013{
        max-width: 1570px;
    }
}
@media (max-width: 1770px) {
    .container013{
        max-width: 1470px;
    }
}
@media (max-width: 1670px) {
    .container013{
        max-width: 1370px;
    }
}
@media (max-width: 1570px) {
    .container013{
        max-width: 1370px;
    }
}
@media (max-width: 1470px) {
    .container013{
        max-width: 1270px;
    }
}
@media (max-width: 1370px) {
    .container013{
        max-width: 1170px;
    }
}






/* tercer grupo */

@media (max-width: 1270px) {
    .container013{
        max-width: 1170px;
    }
}
@media (max-width: 1170px) {
    .container013{
        max-width: 1070px;
    }
}
@media (max-width: 1070px) {
    .container013{
        max-width: 970px;
    }
}
@media (max-width: 970px) {
    .container013{
        max-width: 970px;
    }
}
@media (max-width: 870px) {
    .container013{
        max-width: 870px;
    }
}
@media (max-width: 770px) {
    .container013{
        max-width: 770px;
    }
}






/* cuarto grupo */

@media (max-width: 670px) {
    .container013{
        max-width: 670px;
    }
}
@media (max-width: 570px) {
    .container013{
        max-width: 570px;
    }
}
@media (max-width: 470px) {
    .container013{
        max-width: 470px;
    }
    .a001-013{
        width: 100%;
    }
    .a002-013{
        width: 100%;
    }

}
@media (max-width: 370px) {
    .container013{
        max-width: 370px;
    }
}
@media (max-width: 270px) {
    .container013{
        max-width: 270px;
    }
}
@media (max-width: 170px) {
    .container013{
        max-width: 170px;
    }
}






/* quinto grupo */

@media (max-width: 150px) {
    .container013{
        max-width: 150px;
    }
}
@media (max-width: 130px) {
    .container013{
        max-width: 130px;
    }
}
@media (max-width: 110px) {
    .container013{
        max-width: 110px;
    }
}
@media (max-width: 100px) {
    .container013{
        max-width: 100px;
    }
}
@media (max-width: 90px) {
    .container013{
        max-width: 90px;
    }
}
@media (max-width: 80px) {
    .container013{
        max-width: 80px;
    }
}






/* sexto grupo */

@media (max-width: 70px) {
    .container013{
        max-width: 70px;
    }
}
@media (max-width: 60px) {
    .container013{
        max-width: 60px;
    }
}
@media (max-width: 50px) {
    .container013{
        max-width: 50px;
    }
}
@media (max-width: 40px) {
    .container013{
        max-width: 40px;
    }
}
@media (max-width: 30px) {
    .container013{
        max-width: 30px;
    }
}
@media (max-width: 20px) {
    .container013{
        max-width: 20px;
    }
}