.FS1seccion-001{
    position: fixed;
    width: auto;
    height: auto;
    /* background-color: #e47070; */
    /* padding: 1rem; */
    z-index: 1;
    display: none;
}
.FS1seccion-001none{
    position: fixed;
    width: 45rem;
    height: 100%;
    background-color: #838383;
    /* padding: 1rem; */
    overflow: scroll;
}
.containerF001{
    width: 100%;
    /* background-color: #b9d63a; */
    height: 100%;
    padding: 2rem 2rem 1rem 1rem;

    display: flex;
    flex-direction: column;

    /* transition: all 5s ease; */

    /* display: none; */
}
.containerF001none{
    display: none;
}
.containerF001-001{
    width: auto;
    height: auto;
    /* background-color: #dd6161; */
    display: inline-block;

    padding: 1rem;
}
.containerF001-001 i{
    /* background-color: #ffffff; */
    border-radius: 2rem;
    border: .3rem solid #ffffff;
    box-shadow: 0 0 .5rem 0 #000000;
    padding: 1rem 2rem;
    font-size: 8rem;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}
.containerF001-001 i:hover{
    /* background-color: #ffffff; */
    border-radius: 2rem;
    border: .3rem solid #000000;
    box-shadow: 0 0 .5rem 0 #ffffff;
    padding: 1rem 2rem;
    font-size: 8rem;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
.containerF001-001none{
    display: none;
}
.Fa001-001{
    width: 100%;
    /* background-color: #44ccd1; */
    height: auto;

    display: flex;
    /* display: none; */
}
.Fa002-001{
    width: 100%;
    /* background-color: #4459d1; */
    height: auto;

    display: flex;
    flex-wrap: wrap;
    /* display: none; */
}
.Fa002-02-001{
    width: 100%;
    height: auto;
    /* background-color: #44d183; */
}
.Fa002-03-001{
    width: 100%;
    height: auto;
    /* background-color: #d15944; */
    border-bottom: .5rem solid #ffee00;
    padding: 0;

    display: flex;
}
.Fa002-03-001 span{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}
.Fa002-01-001{
    width: 100%;
    /* background-color: #449dd1; */
    height: auto;

    margin: 0 auto auto;
    display: flex;
}
.Fa002-01-001 img{
    width: 30rem;
    height: auto;
    margin: 0 auto;
}
.Fa003-001{
    width: 8rem;
    background-color: #ffffff;
    height: 7rem;
    border-radius: 1rem;

    margin: -1.5rem -1.5rem auto auto;

    display: flex;
    cursor: pointer;
    /* display: none; */
}
.Fa003-001:hover{
    background-color: #00f0dc;
}
.Fa003-001 i{
    font-size: 7rem;
    margin: auto;
    color: #000000;
}
.Fa004-001{
    width: 100%;
    /* background-color: #d144c5; */
    height: 100%;
}
.Fa005-001{
    width: 100%;
    /* background-color: #b48bff; */
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    /* display: none; */
}
.Fa005-001 a{
    display: block;
    width: 100%;
    /* background-color: #c7f2ff; */
    height: auto;
    margin: auto;

    box-shadow: inset .5rem -.5rem .1rem 0 #4bfd15;
    border-radius: 1rem;
    cursor: pointer;

    display: flex;
    padding: 1rem;
}
.Fa005-001 a:hover{
    box-shadow: inset 1rem -1rem 2rem 0 #ffffff;
}
.Fa005-001-es{
    box-shadow: inset 1rem -1rem 2rem 0 #ffffff !important;
}
.Fa005-001 a i{
    font-size: 4rem;
    color: #ffffff;
    margin: auto 0 auto auto;
}
.Fa005-001 a span{
    background-color: none;
    font-size: 2.5rem;
    font-weight: 700;
    margin: auto auto auto 0;
    color: #ffffff;
}



.temp{
    font-size: 2.5rem;
}







/* primer grupo */

/* @media (max-width: 2470px) {
    .FS1seccion-001none{
        max-width: 550px;
    }
}
@media (max-width: 2370px) {
    .FS1seccion-001none{
        max-width: 500px;
    }
}
@media (max-width: 2270px) {
    .FS1seccion-001none{
        max-width: 450px;
    }
}
@media (max-width: 2170px) {
    .FS1seccion-001none{
        max-width: 400px;
    }
}
@media (max-width: 2070px) {
    .FS1seccion-001none{
        max-width: 390px;
    }
}
@media (max-width: 1970px) {
    .FS1seccion-001none{
        max-width: 380px;
    }
} */






/* segundo grupo */

/* @media (max-width: 1870px) {
    .FS1seccion-001none{
        max-width: 370px;
    }
}
@media (max-width: 1770px) {
    .FS1seccion-001none{
        max-width: 360px;
    }
}
@media (max-width: 1670px) {
    .FS1seccion-001none{
        max-width: 360px;
    }
}
@media (max-width: 1570px) {
    .FS1seccion-001none{
        max-width: 350px;
    }
}
@media (max-width: 1470px) {
    .FS1seccion-001none{
        max-width: 350px;
    }
}
@media (max-width: 1370px) {
    .FS1seccion-001none{
        max-width: 350px;
    }
} */






/* tercer grupo */

/* @media (max-width: 1270px) {
    .FS1seccion-001none{
        max-width: 340px;
    }
} */
@media (max-width: 1170px) {
    /* .FS1seccion-001none{
        max-width: 330px;
    } */
        .FS1seccion-001{
    display: flex;
}
}
/* @media (max-width: 1070px) {
    .FS1seccion-001none{
        max-width: 320px;
    }
} */
/* @media (max-width: 970px) {
    .FS1seccion-001none{
        max-width: 310px;
    }
}
@media (max-width: 870px) {
    .FS1seccion-001none{
        max-width: 300px;
    }
}
@media (max-width: 770px) {
    .FS1seccion-001none{
        width: 290px;
    }
} */






/* cuarto grupo */

/* @media (max-width: 670px) {
    .FS1seccion-001none{
        max-width: 280px;
    }
}
@media (max-width: 570px) {
    .FS1seccion-001none{
        max-width: 270px;
    }
    .FS1seccion-001{
        display: block;
    }
}
@media (max-width: 470px) {
    .FS1seccion-001none{
        max-width: 80%;
    }

}
@media (max-width: 370px) {
    .FS1seccion-001none{
        max-width: 80%;
    }
}*/
@media (max-width: 270px) {
    /* .FS1seccion-001none{
        max-width: 80%;
    } */
    .FS1seccion-001none{
    width: 100%;
}
}
/* @media (max-width: 170px) {
    .FS1seccion-001none{
        max-width: 90%;
    }
}  */






/* quinto grupo */

/* @media (max-width: 150px) {
    .FS1seccion-001none{
        max-width: 90%;
    }
}
@media (max-width: 130px) {
    .FS1seccion-001none{
        max-width: 90%;
    }
}
@media (max-width: 110px) {
    .FS1seccion-001none{
        max-width: 90%;
    }
}
@media (max-width: 100px) {
    .FS1seccion-001none{
        max-width: 90%;
    }
}
@media (max-width: 90px) {
    .FS1seccion-001none{
        max-width: 95%;
    }
}
@media (max-width: 80px) {
    .FS1seccion-001none{
        max-width: 95%;
    }
} */






/* sexto grupo */

/* @media (max-width: 70px) {
    .FS1seccion-001none{
        max-width: 95%;
    }
}
@media (max-width: 60px) {
    .FS1seccion-001none{
        max-width: 95%;
    }
}
@media (max-width: 50px) {
    .FS1seccion-001none{
        max-width: 100%;
    }
}
@media (max-width: 40px) {
    .FS1seccion-001none{
        max-width: 100%;
    }
}
@media (max-width: 30px) {
    .FS1seccion-001none{
        max-width: 100%;
    }
}
@media (max-width: 20px) {
    .FS1seccion-001none{
        max-width: 100%;
    }
} */