
.CamLigero{
    width: 100%;
    height: auto;
    background-color: #db7236;
}









/* primer grupo */

@media (max-width: 2470px) {
    html {
        font-size: 7px;
    }
}
@media (max-width: 2370px) {
    html {
        font-size: 6.7px;
    }
}
@media (max-width: 2270px) {
    html {
        font-size: 6.5px;
    }
}
@media (max-width: 2170px) {
    html {
        font-size: 8px;
    }
}
@media (max-width: 2070px) {
    html {
        font-size: 8px;
    }
}
@media (max-width: 1970px) {
    html {
        font-size: 8px;
    }
}






/* segundo grupo */

@media (max-width: 1870px) {
    html {
        font-size: 7px;
    }
}
@media (max-width: 1770px) {
    html {
        font-size: 7px;
    }
}
@media (max-width: 1670px) {
    html {
        font-size: 7px;
    }
}
@media (max-width: 1570px) {
    html {
        font-size: 6px;
    }
}
@media (max-width: 1470px) {
    html {
        font-size: 6px;
    }
}
@media (max-width: 1370px) {
    html {
        font-size: 6px;
    }
}






/* tercer grupo */

@media (max-width: 1270px) {
    html {
        font-size: 5px;
    }
}
@media (max-width: 1170px) {
    html {
        font-size: 5px;
    }
}
@media (max-width: 1070px) {
    html {
        font-size: 5px;
    }
}
@media (max-width: 970px) {
    html {
        font-size: 4px;
    }
}
@media (max-width: 870px) {
    html {
        font-size: 4px;
    }
}
@media (max-width: 770px) {
    html {
        font-size: 4px;
    }
}






/* cuarto grupo */

@media (max-width: 670px) {
    html {
        font-size: 3px;
    }
}
@media (max-width: 570px) {
    html {
        font-size: 3px;
    }
}
@media (max-width: 470px) {
    html {
        font-size: 3px;
    }

}
@media (max-width: 370px) {
    html {
        font-size: 2px;
    }
}
@media (max-width: 270px) {
    html {
        font-size: 2px;
    }
}
@media (max-width: 170px) {
    html {
        font-size: 2px;
    }
}






/* quinto grupo */

@media (max-width: 150px) {
    html {
        font-size: 1.5px;
    }
}
@media (max-width: 130px) {
    html {
        font-size: 1.5px;
    }
}
@media (max-width: 110px) {
    html {
        font-size: 1.5px;
    }
}
@media (max-width: 100px) {
    html {
        font-size: 1px;
    }
}
@media (max-width: 90px) {
    html {
        font-size: 1px;
    }
}
@media (max-width: 80px) {
    html {
        font-size: 1px;
    }
}






/* sexto grupo */

@media (max-width: 70px) {
    html {
        font-size: 0.5px;
    }
}
@media (max-width: 60px) {
    html {
        font-size: 0.5px;
    }
}
@media (max-width: 50px) {
    html {
        font-size: 0.5px;
    }
}
@media (max-width: 40px) {
    html {
        font-size: 0.1px;
    }
}
@media (max-width: 30px) {
    html {
        font-size: 0.1px;
    }
}
@media (max-width: 20px) {
    html {
        font-size: 0.1px;
    }
}